
.ui.vertical.menu.sidebar-menu {
  background-color: #425563;
  margin-top: 40px !important;
  max-height: calc(100% - 40px) !important;
  height: calc(100% - 40px) !important;
}

.item{
  border: none;
}
body{
  padding:0px;
  margin:0px;
}

.tot{
  position: fixed;
  z-index: 1;
}

.main-content {
  margin-top: 0px;
}

@media (min-width: 1000px) {
  .ui.vertical.menu.sidebar-menu {
    visibility: visible;
    width: 15% !important;
  }
  .main-content {
    margin-left: 15%;
  }
}
